:root {
    --primary-color: #308c74;
    --primary-dark-color: #276251;
    --primary-light-color: #59a390;
    --primary-font: 16px;
    --primary-dark-mode: #383434;
}

.section-heading {
    margin: 50px;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    text-align: center;
}

form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 90%;
}


.form-group {
    width: 80%;
}

.visually-hidden {
    visibility: hidden;
}

input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

textarea {
    height: 100px;
}

input:focus,
textarea:focus {
    outline: none;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.btn:hover {
    background-color: var(--primary-dark-color);
    color: white;
}

@media (max-width: 1024px) {
    .contact p {
        margin: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .form-group {
        margin-left: 0;
        width: 60%;
    }
}